.defBck{
  background:#000;
}
.ColorRed{
  color:Red;
}
.ColorOrange{
  color:Orange;
}
.ColorYellow{
  color:Yellow;
}
.ColorGreen{
  color:Green;
}
.ColorBlue{
  color:LightBlue;
}
.ColorBlue2{
  color:Blue;
}
.ColorViolet{
  color:Violet;
}
