*{margin:0;padding:0}
body{
  font-family:Arial, sans-serif;
}

a{
  text-decoration: none;
  line-height: 100px;
  color:black;
  font-size:20px;
}

header,footer,table{
  height:280px;
  background:khaki;
  text-align: center;
  margin:auto;
}
table{
  width:100%;
}
section{
  background: SteelBlue
}
.title_section{
  width:95%;
  height:40px;
  margin: auto;
  line-height: 40px;
  color:#fff;
  background: SteelBlue
}
div{
  background:#fff;
}
.main_list,.main_p{
  width:90%;
  margin: auto;
  border-top:20px solid #fff;
  border-bottom:20px solid #fff;
}
.second_list,.third_list{
  width:97%;
  margin: auto;
}
li{
  line-height: 30px;
}
#img_side{
  text-align: right;
}
#title_side{
  text-align: left;
}



.lang_extra{
  color:#3F74E8;
}

footer{
  text-align: center;
  height:100px;
}
